*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif
}

header{
 color: #00aae4;   
    background-color: #ededed;
}

body {
    background-color: #ededed;
    text-align: center;
}

.home {
    display: flex;
    flex-wrap: wrap;
}

.in-flex {
    flex: 1;
}

.in-flex div {
    padding: 25px;
    background-color: #fff;
    margin: 20px;
}

footer{
    color: #00aae4;
    font-size: 15px;
}